.red {
  color: red;
}
.orange {
  color: orange;
}
.bold {  
  font-weight: bold;
}
.ml-10 {
  margin-left: 10px;
}
.Cockpit button {
  border: 1px solid blue;
  cursor: pointer;
  padding: 16px;
  background-color: green;
  font: inherit;
  color: white;
}
.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}
.Cockpit button.Red {
  background-color: red;
}
.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
}
.Cockpit button:disabled {
  background-color: grey;
}
.Cockpit button:disabled:hover {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
